LittleHunter/web/WEB-INF/wsdl/192.168.43.15_58526/CurrencyExWS/CurrencyExWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://currencyexchange.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://currencyexchange.me.org/">

<xs:element name="convert" type="tns:convert"/>

<xs:element name="convertResponse" type="tns:convertResponse"/>

<xs:complexType name="convert">
<xs:sequence>
<xs:element name="country1" type="xs:string" minOccurs="0"/>
<xs:element name="country2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>
</xs:schema>